[Unit]
Description=isucholar.rust
After=cloud-config.service
Wants=cloud-config.service

[Service]
WorkingDirectory=/home/isucon/webapp/rust
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/webapp/rust/target/release/isucholar

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target